<a href="https://colab.research.google.com/github/donggale72/10000.html/blob/main/2_1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98_%EC%9E%90%EB%A3%8C%ED%98%95_%EC%88%AB%EC%9E%90_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2-1.파이썬의 자료형:숫자
---
* 날짜:2022-12-26
* 이름:서동관

## 개념정리
---


코드를 작성하면서 우리는 다양한 데이터 자료형을 접하게 됩니다. 그 중 수치 자료형은 개수, 가격, 날짜 등 여러가지 데이터를 효과적으로 처리할 수 있습니다. 수치 자료형에 대해 알아보고 데이터 타입이 수치 자료형일 때 어떤 부가적인 연산들을 수행할 수 있는지 알아보도록 합니다.

### (1) 수치자료형의 종류

#### **정수 `int`**
정수형 자료형은 `int` 로 표시 됩니다. -1,-2, ... 0 , 1, 2 ,...  등 정수값을 나타냅니다. 
```
num = 2
print(num, type(num))
```

In [ ]:
num=2
print(num, type(num))

2 <class 'int'>

#### **실수 `float`**
실수값은 `float`으로 표시 됩니다. 3.0, 3.1 , ... 등 실수값을 나타냅니다. 
```
num = -0.2
print(num, type(num))
```

In [ ]:
num=-0.2
print(num, type(num))

-0.2 <class 'float'>

#### **복소수 `complex`**
복소수는 제곱했을 때 음수가 되는 수입니다. 아래와 같이 정의할 수 있습니다.
```
num = 1+4j
print(num, type(num))
```

In [ ]:
num=1+4j
print(num, type(num))

(1+4j) <class 'complex'>

복소수 자료형 경우  파이썬 내장 함수를 통해 실수값, 허수값, 컬례 복소수 등을 알 수 있습니다.

* `.real` : 복소수의 실수값을 확인합니다.

```
print(num.real)
```

In [ ]:
print(num.real)

1.0


* `.imag`: 복소수의 허수값을 확인합니다.

```
print(num.imag) # 허수값
```


* `.conjugate()`: 복소수의 컬례복소수를 확인합니다.

```
print(num.conjugate()) # 컬례복소수
```

### (2) 수치자료형의 타입 변환

수치자료형의 타입을 변환 할 수 있습니다. 아래와 같이 `a`를 값 1인 정수값으로 정의합시다.

```
a=1
a, type(a)
```

In [ ]:
a=1.5
a,type(a)

(1.5, float)

현재 `int` 타입인 값을 `float`으로 변환해보도록 합시다.

```
a = float(a)
print(a, type(a))
```

In [ ]:
a=float(a)
print(a, type(a))

1.5 <class 'float'>

다시 `int` 로 변환 해봅시다.

```
a = int(a)
print(a, type(a))
```

In [ ]:
a=int(a)
print(a, type(a))

1 <class 'int'>

In [ ]:
b=1.5
b=int(b)
print(a, type(b))

1 <class 'int'>

참고로 문자형과도 변환이 가능합니다.

```
a = str(a)
print(a, type(a))
```

In [ ]:
a=str(a)
print(a, type(a))

1 <class 'str'>

### (3) 산술연산자

수치 자료형은 각종 산술연산이 가능합니다. 우리가 일반적으로 쓰는 덧셈, 뺄셈, 곱셉, 나눈셈을 수행해 보겠습니다. 아래 코드를 따라 쓰고 무엇이 나오는지 예측해 봅니다

*  `+` 더하기

```
2+2
```

In [ ]:
2+2

4

*   `-` 빼기

```
2-2
```

In [ ]:
2-1

1

*  `*` 곱하기
  
```
2*2
```

In [ ]:
2*2

4

*  `**` 제곱

```
2**2
```

In [ ]:
2**2

4


*  `/` 나누기

```
2/2
```

In [ ]:
2/2

1.0

*  `//` 몫

```
2//2
```

In [ ]:
2//2

1

* `%` 나머지

```
2%2
```

In [ ]:
2%2

0

### **(4) 할당 연산자**

할당연산자는 값을 변수에 바로 할당하는 연산자 입니다. 할당이란 것은 바인딩과 동일한 의미입니다. 따라서 `=` 이 기호는 할당연산자 라고 할 수 있습니다. 그러나 `=` 말고도 할당연산자는 몇개 더 있습니다. 

| 기호 | 뜻 |
|--|--|
|`+=`| 더한 후 대입 |
|`-=`| 뺀 후  대입 |
|`*=`| 곱한 후 대입 |
|`**=`| 제곱 후 대입 |
|`/=`| 나눈 후 대입 |
|`//=`| 나눈 후 몫을 대입 |
|`%=`| 나눈 후 나머지 대입 |

#### **더한 후 대입하기**


* `+=`

```
a = 5
b = 2
a += b # 할당연산자 사용  `a = a+b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a+=b
print(a)

7

#### **뺀 후 대입하기**

* `-=`

```
a = 5
b = 2
a -= b # 할당연산자 사용  `a = a-b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a-=b
print(a)

3

#### **곱한 후 대입하기**

* `*=`

```
a = 5
b = 2
a *= b # 할당연산자 사용  `a = a*b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a*=b
print(a)

10

#### **제곱 후 대입하기**

* `**=`

```
a = 5
b = 2
a **= b # 할당연산자 사용  `a = a**b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a**=b
print(a)

25

#### **나눈 후 대입하기**

* `/=`

```
a = 5
b = 2
a /= b # 할당연산자 사용  `a = a/b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a/=b
print(a)

2.5

#### **나눈 후 몫을 대입하기**

* `//=`

```
a = 5
b = 2
a //= b # 할당연산자 사용  `a = a//b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a//=b
print(a)

2

### 나눈 후 나머지를 대입하기

* `%=`

```
a = 5
b = 2
a %= b # 할당연산자 사용  `a = a%b` 과 동일
print(a)
```

In [ ]:
a=5
b=2
a%=b
print(a)

1

## 문제풀이
---

**예제 01**

아래 코드의 실행 결과를 예상하고 출력해보세요

```
2+5-3*5
```

In [ ]:
2+5-3*5

-8

**예제 02**

아래 코드의 실행 결과를 예상하고 출력해보세요
```
print(10/2)
print(10%2)
print(11%2)
print(12%2)
print(13%2)
print(14%2)
```

In [ ]:
print(10%2)
print(11%2)
print(12%2)
print(13%2)
print(14%2)

0
1
0
1
0

**예제 03**

`예제 02` 를 기반으로 `int` 값중 짝수와 홀수를 판별하는 방법을 제안하세요

In [ ]:
a=int(input('숫자를 입력하세요'))
if a%2==0:
  print('짝수')
else:
  print('홀수')

숫자를 입력하세요3
홀수

**예제 04**

정수기가 월 30,000원에 무이자할부 5년 조건으로 판매되고 있습니다. 총 금액을 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [ ]:
a=30000
b=5*12*a
print(b)

1800000

**예제 05** 

변수가 아래와 같이 선언되어 있습니다. 각 변수들끼리 서로 더한 결과를 정리하세요

```
a = 5 
b = 3.14 
c = 3 + 4j
```

In [ ]:
a=5
b=3.14
c=3+4j
d=a+b+c
d

(11.14+4j)

**예제 06**

아래 결과를 예측하세요


```
a= 1
a= a+1
a= a**3
print(a)
```

In [ ]:
a=1
a=a+1
a=a**3
print(a)

8

**예제 07**

아래 결과를 예측하세요


```
a= 1+3j
b= a.real
print(b%2)
```

In [ ]:
a=1+3j
b=a.real
print(b%2)

1.0

**예제 08**

아래와 같이 주가와 주식개수를 인풋으로 받아 평가금액을 출력하는 코드를 작성하세요

```
>> 주가: 10000
>> 주식개수: 3
평가금액은 30000원 입니다.
```

In [ ]:
a=int(input('주가'))
b=int(input('주식개수'))
print(f'평가금액은 {a*b} 원 입니다.')

주가30000
주식개수3
평가금액은 90000 원 입니다.

**예제 09**

아래와 같이 복소수(complex)를 입력하면 실수값과 허수값, 실수값과 허수값을 알려주는 코드를 작성하세요.

```
>> 복소수를 입력하세요: 1+5j
실수값은 1, 허수값은 5입니다. 
```

In [ ]:
a=complex(input('복소수를 입력하세요:'))
print(f'실수값은{a.real} , 허수값은 {a.imag} 입니다')

복소수를 입력하세요:1+5j
실수값은1.0 , 허수값은 5.0 입니다

**예제 10**

아래와 같이 정수(int)를 입력하면 제곱값과 세제곱값을 출력하는 코드를 작성하세요.

```
>> 숫자를 입력하세요: 5
5의 제곱은 25이고 세제곱은 125 입니다.
```

In [ ]:
a=int(input('숫자를 입력하세요'))
print(f'{a}의 제곱은 {a**2}이고 세제곱은{a**3}입니다')

숫자를 입력하세요3
3의 제곱은 9이고 세제곱은27입니다

**예제 11**

실수값(float)을 입력하면 실수값에 5를 더한 값을 출력하는 코드를 작성하세요

```
>> 실수값을 입력하세요: 5.11
5를 더한 값은 10.11 입니다.
```

In [ ]:
a=float(input('실수값을 입력하세요'))
print(f'{5}를 더한 값은 {a+5} 입니다.')

실수값을 입력하세요3.0
5를 더한 값은 8.0 입니다.


**예제 12**

첫번째 숫자와 두번째 숫자를 입력하면 첫번째 숫자를 두번째 숫자로 나눈 몫과 나머지를 구하는 코드를 작성하세요

```
>> 첫번째 숫자: 10
>> 두번째 숫자: 3
10 나누기 3은 몫이 3이고 나머지는 1입니다.
```

In [ ]:
a=int(input('첫번째 숫자'))
b=int(input('두번째 숫자'))
print(f'{a}나누기 {b}은 몫이 {a//b}이고 나머지는 {a%b}입니다.')

첫번째 숫자10
두번째 숫자3
10나누기 3은 몫이 3이고 나머지는 1입니다.