<a href="https://colab.research.google.com/github/donggale72/10000.html/blob/main/3_1_%ED%95%A8%EC%88%98_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3. 함수
---
* 날짜:2022-12-29
* 이름:서동관

## 개념정리
---

### **(1) 기본 사용**


함수는 아래와 같이 정의 할 수 있습니다. 함수의 이름을 선언한 후 이름 아래에 코드를 작성합니다. 아래 코드에서 함수의 이름은`plus`이고 이 함수는 `plus`를 출력하는 함수입니다. 


```
def plus():
  print('plus')
```

코드를 작성하고 셸을 실행하세요. 아무런 일도 일어나지 않습니다. 우리는 함수를 `정의`만 했을 뿐 아직 실행하지 않았습니다.

In [ ]:
def plus():
  print('plus')

### **(2) 실행**



함수를 실행하기 위해서는 함수의 이름과 괄호를 써줍니다.

```
plus()
```

In [ ]:
plus()

plus

### **(3) 매개변수와 인수**

매개변수와 인수는 함수의 인풋이라고 볼 수 있습니다. 파이썬 함수에는 인풋과 아웃풋이 존재하지 않을 수도 있고, 하나 또는 그 이상도 가능합니다.

#### **매개변수 (parameter)**

매개변수(parameter)는 함수를 정의할 때 입력하는 파라미터 입니다. 함수 정의시 괄호 안에 아래와 같이 작성합니다. 아래 함수에서 매개변수는 `input`과 `input2`에 해당합니다.

```
def plus(input1, input2):
  print(f'{input1} + {input2}')
```

In [ ]:
def plus(input1,input2):
  print(f'{input1} + {input2}')

#### **인수 (argument)**

이제 이 함수는 매개변수 두개, 즉 인풋으로 두개의 값을  필요로 합니다. 인수(argument)란 이 함수를 실행할 때 필요로 하는 파라미터 입니다. 아래 코드에서는 함수를 실행하고 있고 이때 인수로 1과 2가 들어갑니다.

```
plus(1, 2)
```

In [ ]:
plus(1,2)

1 + 2

### **(4) 함수의 반환**

함수에는 인풋과 마찬가지로 아웃풋도 존재합니다. 만약 함수를 통해 반환하는 값을 원한다면 `return` 을 이용합니다.

```
def plus(input1, input2):
  plus_value = input1+input2
  return plus_value
```

In [ ]:
def plus(input1, input2):
  plus_value = input1 + input2
  return plus_value

이제 이 함수는 `plus_value` 을 반환합니다. 이 함수를 사용한 후 `plus_value`라는 값을 바인딩하려면 아래와 같이 적어줍니다.

```
a = plus(5, 5)
print(a)
```

In [ ]:
a=plus(5,5)
print(a)

10

#### **여러개의 반환**

여러개의 반환 값을 원한다면 아래와 같이 작성합니다.

```
def plus_minus(input1, input2):
  plus_value = input1+input2
  minus_value = input1-input2
  return plus_value, minus_value
```

In [1]:
def plus_minus(input1,input2):
  plus_value=input1 + input2
  minus_value=input1-input2
  return plus_value, minus_value

함수를 사용할 때는 아래와 같이 써줍니다.

```
a = plus_minus(5, 5)
print(a)
```

In [2]:
a=plus_minus(5,5)
print(a)

(10, 0)

이 때 `a` 의 값이 튜플 형식으로 지정되어 있는 것을 볼 수 있습니다. 반환값을 여러개의 변수로 바인딩 하고 싶으면 아래와 같이 작성해줍니다. 

```
a_pi, a_mi = plus_minus(5,5)
print(a_pi)
print(a_mi)
```

In [3]:
a_pi, a_mi=plus_minus(5,5)
print(a_pi)
print(a_mi)

10
0

### **(5) 여러가지 매개변수**

#### **디폴트 값이 있는 매개변수**

특정 인수의 디폴드 값을 아래와 같이 지정 할 수 있습니다.

```
def plus(input1, input2, bias=0):
  print(input1+input2+bias)
```

In [4]:
def plus(input1, input2, bias=0):
  print(input1+input2+bias)


디폴트로 매개변수를 지정했다면 함수를 실행할 때 인수를 입력하지 않아도 디폴트값이 작동됩니다. 아래 함수에서 `bias`값이 디폴트값인 0으로 작동합니다. 

```
plus(1, 3)
```

In [5]:
plus(1,3)

4

디폴트값을 조정 하고 싶다면 아래와 같이 함수를 작성합니다.

```
plus(1, 3, bias=1)
```

In [6]:
plus(1,3,bias=1)

5

이 때 디폴트 값이 있는 매개변수는 항상 마지막에 작성해야 하며 그렇지 않으면 에러 메시지가 출력됩니다.


```
def plus(input1, bias=0, input2):
  print(input1+input2+bias)
```

In [7]:
def plus(input1, bias=0, input2):
  print(input1+input2+bias)

SyntaxError: ignored

#### **정해지지 않은 개수의 인풋 받기** 


인풋의 개수가 지정되어 있지 않는 함수를 만들어야 할 때가 있습니다. 이를 해결하기 위해서는 두가지 방법이 있습니다. 


* `args`

`args`를 사용시에는 앞에 별 하나 `*` 를 붙입니다. 인풋을 몇개든 상관없이 받아 `args` 라는 변수로 반환합니다. 


```
def many_input(*args):
  print(args)

many_input(1,2,3,4)
```

In [8]:
def many_input(*args):
  print(args)

many_input(1,2,3,4)

(1, 2, 3, 4)


* `kwargs`

`kwargs`를 사용시에는 앞에 별 두개 `**` 를 붙입니다. `key`와 `value`를 함께 받아 `kwargs`라는 이름의 딕셔너리를 반환합니다. . 

```
def my_func(**kwargs):
  print(kwargs)

my_func(a=1, b=2, c=3)
```

In [9]:
def my_func(**kwargs):
  print(kwargs)

my_func(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}


### **(6) 지역변수와 전역변수**

`전역변수`는 프로그램 전체에서 사용되는 변수이고 `지역변수`는 특정 코드 블록 내에서만 사용되는 변수입니다. 함수 내에서 코드를 작성하고 변수를 지정하면 지역변수가 생성됩니다. 아래 코드에서 처음 선언된  `a`,`b`,`c`는 전역변수이고 함수내에 있는 `a`,`b`,`c`는 지역변수입니다. 함수내의 a,b,c,d는 전역변수에 영향을 미치지 않습니다. 

```
a = 1
b = 1
c = 1

def my_func(a, b):
  c = a+b
  d = a-b
  return c

my_out = my_func(5,5)
print(a,b,c)
```

In [11]:
a=1
b=1
c=1
def my_func(a,b):
  c=a+b
  d=a-c
  return c

my_out=my_func(5,5)
print(my_out)
print(a,b,c)

10
1 1 1

함수 실행시에는 반환 값이 전역변수로 지정됩니다.

```
c = my_func(5,5)
print(a,b,c)
```

In [13]:
c=my_func(5,5)
print(a,b,c)
print(c)

1 1 10
10

함수내에서 선언했던 모든 변수들은 함수 밖에서 실행되지 않습니다.

```
print(d)
```

In [14]:
print(d)

NameError: ignored

#### **함수 내에서 전역변수 설정하기**

* `global`

만약 함수내 지역변수를 전역변수로 지정하고 싶다면 `global` 을 사용합니다.

```
def my_func(a, b):
  global d
  c = a+b
  d = a-b
  return c

print(d)
```

In [15]:
def my_func(a,b):
  global d
  c=a+b
  d=a-b
  return c

print(d)

NameError: ignored

여전히 에러가 뜨나요? `global`을 사용할 때는 주의사항이 있습니다. 생성한 함수를 실행을 해야 `global` 값이 적용됩니다.
```
my_func(1,2)
print(d)
```

In [16]:
my_func(1,2)
print(d)

-1

## 문제 풀이
---



**예제 01**

정수 n 을 받아서 python!을 n번 반복해서 출력하는 함수 `call_python()` 을 작성하세요

```
call_python(4)
```

In [17]:
def call_python(a):
  print(a*4)
call_python(a=input('문자를 입력하시요'))

문자를 입력하시요python
pythonpythonpythonpython

**예제 02**

아래 이차함수를 파이썬 함수로 구현하세요


$y = x^2 + 2x -1$

In [18]:
def two_func(x):
  y=x**2+2*x-1
  return y

two_func(3)

14

**예제 03**

삼각형의 넓이를 구하는 식은 아래와 같습니다. 함수로 구현하세요

$ a = width · height · 0.5$

In [19]:
def tryangle(width, height, bias=0.5):
  a=width*height*bias
  return a

tryangle(4,5)

10.0


**예제 04**

문자열 s와 정수 n 을 입력하면 문자열의 n번째와 n-1번째 문자가 출력되는 함수 `split_string()` 을 작성하세요

* 예시
```
>> split_string("코스모스", 1)
스코
```

* 예시
```
>> split_string("충분히긴문자", 5)
자문
```

In [24]:
def split_string(a,b):
  c=a[::-1]
  c=c[:2]
  return c

split_string('충분히긴문자',1)

'자문'

**예제 05**

물건의 할인가는 가격의 70%입니다. 물건의 원래가격 d를 인풋으로하고 할인가를 아웃풋으로 하는 함수 `cal_sale()`을 작성하세요

* 예시
```
>> 할인가 = cal_up_low(100)
>> print(할인가)
70
```

In [27]:
def cal_sale(d):
  cal_up_low=0.7
  할인가=cal_up_low*d
  print(할인가)

cal_sale(d=int(input('금액을 입력하시요')))

금액을 입력하시요3500
2450.0

**예제 06**

리스트 a가 주어지면 a의 평균이 몇인지 출력하는 함수를 구현하세요

* 예시
```
>> cal_mean([1,2,3])
평균은 2 입니다. 
```

* 예시
```
>> cal_mean([1,2,3,4,5])
평균은 3 입니다. 
```

In [35]:
a=[1,2,3]
sum(a)/len(a)

2.0

In [43]:
def cal_mean(*args):
  #c=args
  #d=len(c)
  #e=sum(c)
  print(f'평균은 {int(sum(*args)/len(*args))} 입니다')

cal_mean([1,2,3])

평균은 2 입니다

**예제 07**


리스트 a가 주어지면 a의 평균이 몇인지 출력하는 함수를 구현하세요

* 예시
```
>> cal_mean(1,2,3)
평균은 2 입니다. 
```
* 예시
```
>> cal_mean(1,2,3,4,5)
평균은 3 입니다. 
```

In [46]:
def cal_mean(*args):
  #c=args
  #d=len(c)
  #e=sum(c)
  print(f'평균은 {int(sum(args)/len(args))} 입니다')

cal_mean(1,2,3,4,5)

평균은 3 입니다


**예제 08**


무작위 숫자들을 입력하면 최소값, 최대값을 반환하는 함수`numbers()`를 작성하세요. 

* 예시
```
>> mn, mx = numbers(1,3,2,1,1)
>> print(mn, mx)
1 3
```

In [47]:
def numbers(*args):
  mn=min(args)
  mx=max(args)
  print(mn, mx)

numbers(1,3,2,1,5)

1 5


**예제 09**

길동이는 아래와 같이 코드를 작성하였으나 실행하자 에러 메시지가 떴습니다.  코드의 문제를 설명하세요

```
def my_func():
  aa = 1
  bb = 2
  cc = 3
  return aa+bb+cc

o = my_func()
print(o,aa,bb,cc)
```

##aa,bb,cc를 함수 밖에서는 변수로 인식하지 않고 문자로 인식함(''가 필요함)

In [49]:
def my_func():
  aa=1
  bb=2
  cc=3
  return aa+bb+cc

o=my_func()
print(o,aa,bb,cc)

NameError: ignored

**예제 10**

에러가 뜨지 않도록 위의 함수 `my_func()`를 수정하세요

In [ ]:
def my_func():
  aa=1
  bb=2
  cc=3
  return aa+bb+cc

o=my_func()
print(o)